* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

/* Header */

.header-container {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 30px;
}

.header {
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1100px;
}

.header-title {
    font-weight: 700;
}


ul {
    font-size: 18px;
    display: flex;
    list-style: none;
    gap: 12px;
    margin: 0;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}


/* Hero */

.hero-container {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    padding: 30px;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1100px;  
    height: 300px;
    gap: 120px;
}

.hero-left{
    display: flex;
    flex-wrap: wrap;
}

.hero-title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-text {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-img img {
    border-radius: 12px;
}

.hero-button button {
    background-color: #3882F6;
    border: #3882F6;
    font-weight: bold;
    color: #F9FAF8;
    font-size: 16px;
    padding: 6px 32px;
    border-radius: 6px;
    margin-top: 8px;
}

/* Information */

.info-container {
    display: flex;
    justify-content: center;
    padding: 30px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1100px;
    gap: 30px;
}

.info-details {
    display: flex;
    gap: 50px;
    font-size: 12px;
}

.info-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 150px;
    gap: 10px;
}

.info-title {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.info-details img {
    width: 150px;
    height: 150px;
    border-radius: 12px;
}

/* Footer */

.footer-container {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    padding: 30px;
}

.footer{
    color: #F9FAF8;
    font-size: 18px;
    width: 1100px;  
    display: flex;
    justify-content: center;
}